 header{ 
    background-color: #4EA0FF;
    height: 150px;
    background-image: url(/img/pattern.png);
    background-repeat: repeat;
} 

#immagine sfondo {
    width: 100px;
    height: 150px;
}

    #logo {
        width: 100px;
        height: 150px;
    }