#immaginesfondo{ 
    background-color: #4EA0FF;
    height: 170px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
} 


    #logo{
        width: 100px;
        height: 150px;
    }