
#immagine-sfondo{ 
    height: 175px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4EA0FF;
}
 #logo{
        width: 250px;
        height: 250px;
    }

    .title{
        font-size: 60px;
        font-weight: bold;
    }
    .info{
        font-size: 15px;
        color: #808080;
    }
    #autore{
        color: #20A9E5;
    }

    .immagini-tim{ 

        width: 543px;
        height: 362px
    }

    th{
        width: 750px;
        background-color:  #20A9E5;
        color: white;
    }

    
.linea-blu{
    background-color: #B1E5F2;
}

h5{color: #808080;
}
    
.immagineuno{
    width: 300px;
    height: 200px;
    position: relative;    

}
h6 {
    position: absolute;
    color: #eee;
    font: bold 22px italic;
    padding:10px;       
    top: 100px;
    left: 10;
    width: 100%;
 }
 .immaginedue{
    width: 300px;
    height: 200px;
    position: relative;  
}  
    
   